@font-face {
    font-family: 'Moderne Fraktur';
    src: url('/public/fonts/Moderne Fraktur.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cinzel-Bold';
    src: url('/public/fonts/Cinzel-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Cinzel-Regular';
    src: url('/public/fonts/Cinzel-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Edwardian Script ITC';
    src: url('/public/fonts/Edwardian.TTF') format('truetype');
    font-style: normal;
    font-weight: normal;
  }

.lace-shop {
    background-image: url(/public/assets/lace-shop.png);
    background-position: center;
    background-size: 100% 80%;
    background-repeat: no-repeat;
    width: 100vw;
    height: 60vh;
    position: absolute;
    top: -7vh;
    z-index: 999;
}


.main-tienda {
    background-image: url(/public/assets/sizes.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 46vh;
    width: 50vw;
    height: 75vh;
}

.shop-background {
    width: 100vw;
    height: 678vh;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: linear-gradient(180deg, #667274 90%, #b5c0be 94%);
    /*z-index: -2;*/
}

.footer{
    background-image: url(/public/assets/footer.png);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 35vh;
    position: absolute;
    bottom: 0;
    /*z-index: -1;*/
}

.product-item {
    background-image: url(/public/assets/item-background.png);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 6.3vh 4vh;
    width: 25%;
    height: 50%;
    position: relative;
}

.product-item img.tight {
    height: 50%;
    width: 50%;
    margin-top: 3vh;
}

.product-item img.glove {
    height: 50%;
    width: 70%;
    margin-top: 4vh;
}

.products-container {
    width: 150vh;
    height: 135vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    margin-top: 8vh;
}


*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: arial;
    font-size: 16px;
    margin: 0;
    background: #fff;
    color: #000;
    max-height: 338vh;
    max-width: 210vh;
}

.shop-title {
    font-family: 'Moderne Fraktur';
    font-size: 8vh;
    color: #e3e6d9;
    position: absolute;
    top: 13vh;
}

.shop-tooltips-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}


.shop-tooltips {
    font-family: 'Moderne Fraktur';
    font-size: 4vh;
    color: #e3e6d9;
}

.shop-gift {
    font-family: 'Moderne Fraktur';
    font-weight: bold;
    font-size: 4vh;
    color: #e3e6d9;
    margin-top: 4vh;
}

.como-comprar-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100vh;
    position: absolute;
    bottom: 61vh;
}

.como-comprar-tooltips-respuestas {
    font-family: 'Moderne Fraktur';
    font-size: 3.5vh;
    color: #e3e6d9;
    text-align: left;
    margin-bottom: 4vh;
}

.como-comprar-tooltips-preguntas {
    font-family: 'Moderne Fraktur';
    font-size: 4vh;
    text-shadow: 2px 2px 4px rgb(130 157 175);
    color: #e3e6d9;
}

.filters-container {
    font-family: 'Moderne Fraktur';
    font-size: 4vh;
    color: #485251;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 60vh;
    position: absolute;
    top: 45vh;
}

.bottom-product-item {
    font-family: "Edwardian Script ITC", sans-serif;
    font-size: 2vh;
    color: #485251;
    height: 10vh;
    width: 30vh;
    margin-top: 8.8vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bottom-product-item div.add-to-cart {
    width: 18vh;
    height: 5vh;
    cursor: pointer;
    color: #337c76;
    font-size: 3vh;
}

.contact-title {
    font-family: 'Moderne Fraktur';
    font-size: 8vh;
    color: #e3e6d9;
}

.contact-section {
    position: absolute;
    bottom: 38vh;
    right: 41%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-price {
    font-family: 'Moderne Fraktur';
    font-size: 2.5vh;
    color: #43433d;
    margin-top: 0.6vh;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.modal-content img.pattern-image {
    background-repeat: no-repeat;
    background-size: contain;
    height: 45vh;
    margin-bottom: 1.5vh;
}

.elements-container {
    height: 69%;
    width: 100%;
    margin-top: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content.description {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    height: 70%;
    width: 80%;
}

.description-img-container {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.description-container {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3vh;
    background-color: #b2c1c1;
    border: 1.4vh double #e3e3d2;
    border-radius: 1vh;
}

.description-title {
    position: absolute;
    top: 20vh;
    font-size: 4vh;
    letter-spacing: 0.5vh;
}

.description-close-button {
    font-family: 'Moderne Fraktur', sans-serif;
    font-size: 3vh;
    color: #e3e3d2;
    cursor: pointer;
    position: absolute;
    top: 13vh;
    right: 12vh;
}

.colors-container {
    width: 65%;
    height: 7%;
    position: absolute;
    right: 6.5vh;
    bottom: 17vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5vh;
}

.color-frame {
    width: 6vh;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
    background-image: url(/public/assets/colour-container.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.color {
    border-radius: 50%;
    width: 53%;
    height: 45%;
    margin-bottom: 0.1vh;
    margin-left: 0.1vh;
    border: 1px solid #84827A;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.purple {
    background-color: purple;
}

.product-pattern-name {
    font-family: 'Edwardian Script ITC', sans-serif;
    font-size: 4.7vh;
    color: #43443e;
}

.product-id-pattern-description {
    font-family: 'Cinzel-Bold', sans-serif;
    font-size: 4.5vh;
    text-shadow: 1px 1px 2px black, 0 0 1em grey, 0 0 0.2em grey;
    color: #7f8f8d;
}

.product-model-description {
    font-family: 'Edwardian Script ITC', sans-serif;
    font-size: 9vh;
    text-transform: lowercase;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    bottom: -1vh;
    right: 10vh;
}

.inline-model {
    position: relative;
    height: 14vh;
}